openapi: 3.0.3
info:
  title: Mintlify Agent Update API
  description: Mintlify provides a suite of APIs for managing documentation deployments, automating documentation editing through agents, embedding AI assistants, and exporting analytics. Endpoints span the Update, Agent, Assistant, and Analytics APIs.
  version: '1.0'
  contact:
    name: Mintlify
    url: https://www.mintlify.com/docs/api/introduction
servers:
- url: https://api.mintlify.com
  description: Mintlify primary API server
- url: https://api.mintlify.com/discovery
  description: Discovery server (Assistant and Search APIs)
security:
- adminKey: []
tags:
- name: Update
  description: Trigger and monitor documentation deployment updates.
paths:
  /v1/project/update/{projectId}:
    post:
      tags:
      - Update
      summary: Trigger documentation update
      operationId: triggerUpdate
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Update queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusId:
                    type: string
  /v1/project/update-status/{statusId}:
    get:
      tags:
      - Update
      summary: Get update status
      operationId: getUpdateStatus
      parameters:
      - name: statusId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Update status details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStatus'
components:
  schemas:
    UpdateStatus:
      type: object
      properties:
        _id:
          type: string
        projectId:
          type: string
        subdomain:
          type: string
        status:
          type: string
          enum:
          - queued
          - in_progress
          - success
          - failure
        createdAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        summary:
          type: string
        logs:
          type: array
          items:
            type: string
  securitySchemes:
    adminKey:
      type: http
      scheme: bearer
      bearerFormat: mint_*
      description: Admin API key prefixed with mint_.
    assistantKey:
      type: http
      scheme: bearer
      bearerFormat: mint_dsc_*
      description: Public assistant API key prefixed with mint_dsc_.
